@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>My contact page</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:faruk.kayar@ug.bilkent.edu.tr">faruk.kayar@ug.bilkent.edu.tr</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@lunatr.com">info@lunatr.com</a>
</address>