@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">Luna Project is a Web application for the control of the companies system using ASP.NET, HTML, CSS and JavaScript.</p>
    <p><a href="https://www.lunatr.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This project's main objective is to practice the applications of css, html, asp.net, and entity framework. 
        </p>
        <p><a class="btn btn-default" href="https://github.com/farukkayar/Luna_Intern_Project">Go to repository &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>My name is Ömer Faruk Kayar. I am a 4th-grade Computer Science student in Bilkent University. Currently I am working in Luna 
        A.Ş. as a intern student. I am dedicated to work on coding aspects of all kinds.</p>
        <p><a class="btn btn-default" href="https://github.com/farukkayar">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Luna Project</h2>
        <p>This company produces smart meters for electricity and water infrastructures. This basic system controls the Meter-Subscriber relationship.</p>
        <p>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Contact Me &raquo;</button>
            <div id="demo" class="collapse">
                faruk.kayar@ug.bilkent.edu.tr
            </div>
        </p>
    </div>
</div>